.campaign-backers {
	display: none;
	min-height: 600px;

	@include breakpoint($small) {
		display: block;
	}

	@include cf;

	.container {
		@include container;
		@include breakpoint($small) {
			column-count: 2;
			column-gap: 1em;
		}
	}

}
