.campaign-full {

	.campaign-teaser {
		max-width: $medium;
		margin: 0 auto 30px;
	}

	.campaign-surface {
		@include container;
		overflow: hidden;

		#surface {
			position: relative;
			float: left;
			width: 100%;
			margin: 0 auto;
			min-height: 250px;
			border-spacing: 2px;
			border-spacing: 0;
			border-collapse: separate;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			@include breakpoint($small) {
				width: 75%;
				max-width: $medium;
			}
			
			.field {
				background: rgba(255, 255, 255, .1);

				&:hover,
				&.ui-selected,
				&.ui-selecting {
					background: $orange-alpha;
				}

				&.closed {
					background: $turquoise-alpha;
				}

				&.highlighted {
					background: $turquoise;
				}

			}

		}

		.campaign-perks {
			width: 100%;

			@include breakpoint($small) {
				float: left;
				padding-left: $gutter;
				max-width: $large - $medium;
				width: 25%;
			}
		}

	}

}

.ui-selectable-helper {
	display: none;
}
