.not-logged-in {
	.vote .action {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		font-size: 0;
		background-color: $orange;
		float: left;

		&:before {
			display: block;
			padding: $small-gutter;
			line-height: $p0;
			font-size: $p0;
			font-family: $icon-font;
			color: $white;
			@extend %icon-thumbs-up;
		}
	}
}
.campaign-teaser {
	position: relative;
	width: 100%;
	margin-bottom: $big-gutter;
	border-radius: $border-radius;
	background-color: $gray-lighter;

	@include cf;

	.vote {
		z-index: 2;
		position: absolute;
		top: 50%;
		margin-top: -17px;
		left: 0;
		width: auto;
		color: $white;

		@include breakpoint($medium) {
			left: -33px;
		}

		@include cf;

		.action a {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
			font-size: 0;
			background-color: $orange;
			float: left;

			&:before {
				display: block;
				padding: $small-gutter;
				line-height: $p0;
				font-size: $p0;
				font-family: $icon-font;
				color: $white;
				@extend %icon-thumbs-up;
			}

			&.flag-action {
				&:before {
					@extend %icon-thumbs-up;
				}
			}
			&.unflag-action:hover {
				&:before {
					@extend %icon-thumbs-down;
				}
			}
		}
	 	.count {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			line-height: $p0;
			font-size: $p0;
			padding: $small-gutter;
			background-color: $orange-dark;
			float: left;
		}

	}

	.featured-image {
		position: relative;
		width: 100%;

		@include breakpoint($small) {
			float: left;
			// min-width: 300px;
			width: (100%/3);

			img {
				float: left;
				width: 100%;
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
		}
		img {
			width: 100%;
		}
		.backers {
			position: absolute;
			bottom: 0;
			right: 0;
			width: auto;
			color: $white;


			@include cf;

			label {
				padding: $small-gutter;
				background-color: $turquoise-light;
				float: left;
				font-size: 0;

				&:before {
					font-family: $icon-font;
					@extend %icon-smile-o;
					font-size: $p0;
					line-height: $p0;
				}

			}
			span {
				padding: $small-gutter;
				background-color: $turquoise;
				float: left;
				font-size: $p0;
				line-height: $p0;
			}

		}

	}
	.goal {
		width: 100%;
		margin: 0;
		@include cf;

		label {
			font-size: $p0;
			display: inline-block;
			float: left;
			width: 50%;
			padding: $small-gutter;
			color: $white;
			background-color: $turquoise-light;
		}
		span {
			font-size: $p0;
			display: inline-block;
			float: left;
			width: 50%;
			padding: $small-gutter;
			color: $white;
			background-color: $turquoise;
		}

		@include breakpoint($small) {
			position: absolute;
			right: 0;
			width: auto;

			label, span {
				width: auto;
			}
		}
	}
	.info {
		position: relative;
		display: block;
		height: 100%;
		padding: $small-gutter;
		padding-bottom: $big-gutter;
		width: 100%;

		@include breakpoint($small) {
			float: left;
			width: (100%/3)*2;
		}

		.title {
			font-size: $h2;

			a {
				color: $black;
			}
		}
		.author {
			font-size: $p0;
			color: $gray;

			.username {
				color: $turquoise;
			}
		}
		.description {
			font-size: $p0;
			margin: $small-gutter 0;
			color: $gray;
			height: 60px;
			position: relative;
			overflow: hidden;
			z-index: 1;
			p {
				margin: 0;
			}
		}
		.location {
			color: $gray;
			margin-bottom: $small-gutter;
			.field__label {
				font-size: 0;
				margin-right: $small-gutter;
				&:before {
					font-family: $icon-font;
					@extend %icon-map-marker;
					display: block;
					font-size: 18px;
				}
			}
			.field__items {
				font-size: $p1;
				line-height: 18px;
				.location {
					display: inline-block;
				}
				.location-hidden {
					display: inline-block;
				}
			}
		}
	}
	.progress {
		position: absolute;
		bottom: 0;
		right: 0;

		@include breakpoint($small) {
			max-width: (100%/3)*2;
		}
	}
}
