#user-register-form {
	h3 {
		font-size: $p0;
		font-weight: normal;
		margin: $gutter 0;
		text-align: center;
		text-transform: lowercase;
		color: $gray-light;
		position: relative;	
	}

	.hybridauth-widget + div {
		font-size: $p0;
		text-align: center;
		color: $gray-light;
		margin-top: $small-gutter;
	}

	.hybridauth-widget li {
		width: 100%;
	}

	.hybridauth-widget a {
		width: 100%;
		max-width: 230px;
		height: 38px;
		padding: $small-gutter $big-gutter;
		margin: 0 auto;
		display: block;

		@extend %btn-blue;

		&:after{
			content: 'Login with Facebook';
			margin-left: $gutter;
		}
	}
	
	.field-name-field-birthday .form-wrapper {
		width: 50%;
    margin: auto;
  	padding: 0;
  	border: 0;
		
		.fieldset-legend {
	    color: $black;
	    font-size: $p1;
	    width: 100%;
	    display: block;
	    padding-bottom: 10px;
	    padding-top: 10px;
		}
    .date-padding {
			padding: 0;
    }

	}

	.form-submit {
		display: block;
		margin: 0 auto;
	}
}