%form-label {
	color: $black;
	font-weight: normal;
	font-size: $p1;
	width: 100%;
	margin-bottom: $small-gutter;
}
%form-text {
	width: 100%;
	border: 1px solid $gray-light;
	padding: $small-gutter;
	background-color: $white;
	border-radius: $border-radius;
	color: $gray;
	font-size: $p1;

	&:focus {
		border-color: $blue;
		outline: 0;
	}
}
%description {
	font-size: $p1;
	color: $gray-light;
	width: 100%;
}
%dragndrop {
	width: 100%;
	background: $gray-lighter;
	color: $gray-light;
	float: left;
  padding: 0px;
  margin: 0;
  border: none;
  border-radius: $border-radius;
}
%btn-default {
	display: inline-block;
	background-color: $turquoise;
	color: $white;
	border: none;
	border-radius: $border-radius;
	padding: $small-gutter $big-gutter;
	font-size: $p0;

	&:hover {
		text-decoration: none;
		background-color: $turquoise-dark;
	}
	&:focus {
		outline: none;
	}
}
%btn-blue {
	@extend %btn-default;
	background-color: $blue;

	&:hover {
		background-color: $blue-dark;
	}
	&:focus {
		outline: none;
	}
}
%icon-thumbs-up {
	content: "\e907";
}
%icon-thumbs-down {
	content: "\e906";
}
%icon-smile-o {
	content: "\e908";
}
%icon-close {
	content: "\e901";
}
%icon-plus {
	content: "\e902";
}
%icon-ellipsis-h {
	content: "\e903";
}
%icon-search {
	content: "\e904";
}
%icon-map-marker {
	content: "\e900";
}
%icon-user {
	content: "\e905";
}
