@mixin cf() {
	&:before,
	&:after {
		display: block;
		clear: both;
		content: '';
	}
}

@mixin breakpoint($width) {
	@media (min-width: $width) { @content; }
}


@mixin container() {
	display: block;
	width: 100%;
	max-width: $large;
	margin: 0 auto;
}