$white: rgb(255,255,255);
$black: rgb(0,0,0);

$gray: rgb(102,102,102);
$gray-light: rgb(204,204,204);
$gray-lighter: rgb(239,239,239);

$turquoise-dark: rgb(22,145,149);
$turquoise: rgb(72,191,193);
$turquoise-light: rgb(96,204,206);
$turquoise-lighter: rgb(156,223,225);
$turquoise-alpha: rgba(72,191,193,0.8);

$orange-light: rgb(255, 135, 79);
$orange: rgb(240,104,50);
$orange-dark: rgb(197,68,16);
$orange-alpha: rgba(240,104,50,0.9);

$blue-dark: rgb(19,125,207);
$blue: rgb(22,142,234);
$blue-light: rgb(64,163,238);

$green: rgb(151, 229, 99);
// $green-dark: rgb(118, 195, 56);

$yellow-light: rgb(250, 255, 200);