$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$theme-font: 'Pacifico';
$icon-font: 'icomoon';

$h1: 30px;	
$h2: 18px;
$h3: 16px;
$h4: 14px;

$p0: 14px; 
$p1: 12px; 

@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.ttf");
  font-weight: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?spahn0');
	src:url('../fonts/icomoon.eot?spahn0#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?spahn0') format('truetype'),
		url('../fonts/icomoon.woff?spahn0') format('woff'),
		url('../fonts/icomoon.svg?spahn0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}