#block-crf-main-crf-add-campaign {
	float: right;
	margin-left: $big-gutter;

	a {
		display: block;
		height: 60px;
		width: 60px;
		margin: 0px 0;
		background-color: $orange;
		border-radius: $border-radius;
		font-size: 0;
		text-align: center;

		&:before {
			@extend %icon-plus;
			line-height: 60px;
			font-size: $p0;
			font-family: $icon-font;
			color: $white;
		}
	}
}