#checkout {
	.close {
		float: right;
		font-size: 0;
		margin-bottom: $small-gutter;

		&:before {
			font-family: $icon-font;
			@extend %icon-close;
			font-size: 18px;
			color: $turquoise;
		}
		&:hover{
			text-decoration: none;
			&:before {
				color: $turquoise-dark;
			}
		}
	}

	table {
		max-width: 100%;
		width: 100%;
		margin: $big-gutter 0;
		font-size: $p0;
	}
	
	th,
	td {
		padding: 5px;
		padding-left: 0px;
		background-color: transparent;	
	}

	tr.odd,
	tr.even {
		background-color: transparent;	
	}
	
}

#payment-method-wrapper {
	display: block;
	box-shadow: 0 0 35px rgba(0,0,0,0.2);
	border-radius: $border-radius-big;
	max-width: $small;
	margin: 60px auto 0;
	background-color: $white;

	@include breakpoint($small) {
		padding: $big-gutter;
	}

}

#edit-payment-method-pmid-title {
	background-color: $turquoise;
	color: $white;
	padding: $gutter;
	font-size: $p0;
	max-width: 100%;
	font-weight: bold;
	margin-top: $big-gutter;

	label {
		color: $white;
	}

	+ p {
		margin-top: $gutter;
		color: $turquoise;
		font-size: $p0;
	}

}