.l-header {
	@include container;
	padding: $small-gutter 0;
	margin-bottom: $big-gutter;
	
	@include cf;

	.l-branding {
		width: 100%;
		float: left;

		@include breakpoint($small) {
			width: 20%;
		}
	}
	.l-region--navigation {
		width: 100%;
		float: left;
		
		@include breakpoint($small) {
			width: 80%;
		}
	}
}