.perk {
	position: relative;
	float: left;
	margin-bottom: $big-gutter;
	width: 100%;
	margin-right: 0;
	
	.price {
		background-color: $turquoise;
		color: $white;
		width: auto;
		position: absolute;	
		right: 0;
		padding: $small-gutter;
		font-family: $p0;
	}

	.content {
		background: $gray-lighter;
		padding: $small-gutter;
	}

	.title {
		color: $black;
		font-size: $h2;
		padding-right: 60px;
	}
	
	.author {
		padding-right: 60px;
		font-size: $p0;
		color: $gray;

		a,span {
			color: $turquoise;
		}
	}

	p {
		color: $gray;
		margin: $small-gutter 0;
		font-size: $p0;
	}
	
	.quantity {
		border: 0px;
		border-radius: 5px;
		color: $turquoise;
		background: $white;
		font-weight: bold;
		padding: 2px 0;
		padding-left: 10px;
		line-height: 30px;
		font-size: $p0;
		margin-right: 5px;

		&:focus {
			outline: 0;
		}
		
	}

	&.add {
		background-color: $turquoise;
		display: inline-block;
		float: left;
		font-size: $p0;
		text-align: center;
		padding: 55px 0;
		color: white;

		&:before {
			display: block;
			width: 100%;
			text-align: center;
			@extend %icon-plus;
	    font-size: 50px;
	    font-family: $icon-font;
		}
		
		&:hover {
			background-color: $turquoise-dark;
		}

	}

}