#popover {
	z-index: 3;
	display: none;
	position: absolute;
	width: 330px;
	margin-left: -(330px/2);
	border-radius: $border-radius-big;
	box-shadow: 0 0 35px rgba(0,0,0,0.5);
	background-color: $white;
	
	.content {
		@include cf;
		padding: $small-gutter;
		border-top-right-radius: $border-radius-big;
		border-top-left-radius: $border-radius-big;
		min-height: 139px;
	}
	.actions {
		clear: both;
		position: relative;
		padding: $small-gutter;
		background-color: $gray-lighter;
		border-bottom-right-radius: $border-radius-big;
		border-bottom-left-radius: $border-radius-big;

		.form-submit {
			width: 100%;
			background-color: $orange;

			&:hover {
				background-color: $orange-dark;
			}
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			bottom: -10px;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $gray-lighter transparent transparent transparent;
		}
	}

	.close {
		position: absolute;
		right: $small-gutter;
		font-size: 0;
		margin-bottom: $small-gutter;

		&:before {
			font-family: $icon-font;
			@extend %icon-close;
			font-size: 18px;
			color: $orange;
		}
		&:hover{
			text-decoration: none;
			&:before {
				color: $orange-dark;
			}
		}
	}
	.profile {
		float: left;
		padding-left: $small-gutter;
		clear: none;
		margin: 0;
		width: 75%;
	}
	.user-picture {
		float: left;
		width: 25%;

		img {
			width: 75px;
			height: auto;
			border-radius: 50%;
		}
	}
	.name h2{
		color: $orange;
	}
	.summary p{
		font-size: $p0;
		color: $black;
	}
	.message {
		font-size: $p0;
		color: $orange;
	}
	.info {
		.amount {
			font-size: $p0;
			display: inline-block;
			float: left;
			text-align: center;
			width: auto;
			min-width: 35px;
			padding: $small-gutter;
			color: $white;
			background-color: $orange-light;
		}
		.value {
			font-size: $p0;
			display: inline-block;
			float: left;
			width: auto;
			padding: $small-gutter;
			color: $white;
			background-color: $orange;
		}
	}
}