.tile {
	background: $gray-lighter;
	width: 100%;
	margin-bottom: $gutter;

	padding-bottom: 0;
	position: relative;

	@include cf;

	@include breakpoint($small) {
		display: inline-block;
		margin: 0 0 1em;
		width: 100%;
	}

	.user-image {
		float: left;
		max-width: 30%;
		padding: $big-gutter;

		img {
			width: 100px;
	    height: auto;
	    border-radius: 50%;
		}

	}

	.user-info {
		float: left;
		max-width: 70%;
		padding-top: $big-gutter;
		padding-right: $big-gutter;

	}

	h3 {
		font-size: $h2;
		color: $turquoise;
		white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.summary p {
		font-size: $p0;
	}

	.comment p {
		font-size: $p0;
		font-style: italic;
	}

	.created {
		color: $turquoise;
		font-size: $p0;
	}
	.perks {
		clear: both;
		width: 100%;
	}
	.perk {
		float: right;
    width: auto;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 2px;

		span,
		label {
			font-size: $p0;
	    display: inline-block;
	    float: left;
	    width: auto;
	    padding: $small-gutter $gutter;
	    color: $white;
	    background-color: $turquoise-light;
		}
		span {
	    background-color: $turquoise;
		}

	}

}
