.field-type-entityreference,
.field-type-location,
.form-item {
	width: 100%;
	max-width: 100%;

	@include breakpoint($small) {
		max-width: $field-width;
	}
	label {
		@extend %form-label;
	}
	.form-text {
		@extend %form-text;
	}
	.description {
		@extend %description;
	}
}
.form-type-textarea {
	textarea {
		@extend %form-text;
	}
	@include breakpoint($small) {
		& + fieldset {
			max-width: $field-width;
		}
	}
}
.form-type-link-field {
	.form-item {
		max-width: 100%;
	}
}
.field-type-entityreference {

	.ief-entity-table {
		width: 100%;
	}
	.form-item {
		max-width: 100%;
	}
}
.form-type-twitter-username {
	.field-prefix {
		border-top: 1px solid $gray-light;
		border-left: 1px solid $gray-light;
		border-bottom: 1px solid $gray-light;
		position: absolute;

		padding: $small-gutter;
		font-size: $p1;
		background-color: $gray-lighter;
		color: $gray;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}
	.form-item {
		max-width: 100%;

		.form-text {
			padding-left: 35px;
		}
	}
}
