body {
  text-rendering: optimizeLegibility;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

h1 {
	font-size: $h1;
}
h2 {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

p {
	margin: 0 0 1em;
}


a{
	text-decoration: none;
	color: $turquoise;
	&:hover {
		// text-decoration: underline;
	}
}